* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url("book.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw auto;
}

@media screen and (max-aspect-ratio: 3/2) {
	body {
		background-size: auto 100vh;
	}
}

header {
	background-color: chocolate;
	text-align: center;
}

nav {
	background-color: lightblue;
}

.w1 {
	position: absolute;
	top: 50px;
	left: 100px;
	width: 30px;
	height: 100px;
	background-color:lemonchiffon;
}

.w2 {
	position: absolute;
	top: 50px;
	left: 200px;
	width: 30px;
	height: 100px;
	background-color:lemonchiffon;
}

.w3 {
	position: absolute;
	top: 200px;
	left: 200px;
	width: 30px;
	height: 100px;
	background-color:lemonchiffon;
}

.w4 {
	position: absolute;
	top: 350px;
	left: 100px;
	width: 30px;
	height: 100px;
	background-color:lemonchiffon;
}

li {
	list-style: none;
}

.rb {
	background-color: red;
}

.p {
	line-height: 100px;
}

.gb {
	background-color: green;
}

.bb {
	background-color: blue;
}

