* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.c1 {
	background-color: lightcyan;
}

.c2 {
	background-color: lightyellow;
}

.c3 {
	background-color: lightpink;
}

header {
    text-align: center;
}


article {
	display: flex;
}

section {
	width: calc(100vw / 3);
	height: 250vh;
	display: flow;
	justify-content: center;
	align-items: center;
	word-break: keep-all;
}

img {
	width: 250;
	height: 250;
}

